 <!-- Navigation-->
 
 <nav class="navbar navbar-expand-lg navbar-light shadow-sm" id="mainNav">
    <div class="container px-5">
        <img src="../../../assets/images/FUE.jpeg" class="imgSize" alt="">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                <li class="nav-item"><a class="nav-link me-lg-3 bghover" href="#features">Features</a></li>
                <li class="nav-item"><a class="nav-link me-lg-3 bghover" href="#header">Download</a></li>
            </ul>
            <a class="btn feedbg me-lg-3" href="#feedBack"><i class="bi-chat-text-fill me-2"></i> Send Feedback</a>
            
            <a class="btn btn-outline-dark login" routerLink="login"> <i class="fa-solid fa-arrow-right-to-bracket"></i> Login</a>
        </div>
    </div>
  </nav>

  <!-- Slide Show -->
  <section class="slidShow" >
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../assets/images/football.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h3>Football</h3>
            <h5>You have a good skill in football. Be brave and share your talent with many people and grape the scout agents towards you.</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/Music.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h3>Music</h3>
            <h5>Every time you hold your instrument, you Imagine a crowd of audience shouting out your name. Don't settle and share your talent.</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/squash.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h3>Squash</h3>
            <h5>Display your Squash talent to the scout agents and bring the scope towards you.</h5>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
  <!--Header section -->
  <section class="header" id="header">
   <div class="container">
    <div class="row">
       <div class="col col-lg-6 col-sm-12" data-aos="fade-right" data-aos-duration="2000">
        <h1 class="display-1 lh-1 mb-3 fw-bold verticalAlign">FGTalent</h1>
        <p class="lead fw-normal text-muted mb-5"> FGTalent leads you to start a career you wish. Share your talent with your audience and get the scout's eyes on you. Download Now!</p>
        <div class="row">
            <div class="col col-lg-6 col-sm-12 px-0" data-aos="fade-up"data-aos-duration="2000">
              <a href="#"><img class="app-badge1" src="assets/img/google-play-badge.svg" alt="..." /></a>
            </div>
            <div class="col col-lg-6 col-sm-12 px-0" data-aos="fade-up"data-aos-duration="2000">
              <a href="#"><img class="app-badge2" src="assets/img/app-store-badge.svg" alt="..." /></a>
            </div>
        </div>
      </div>
        <div class="col col-lg-6 col-sm-12" data-aos="fade-left"data-aos-duration="2000">
          <img class="phoneImage" src="../assets/images/portrate.png" alt="">
        </div>
    </div>
  </div>
  </section>
  
  <!-- Testimonial section -->
  <section class="testimonial">
      <div class="container "data-aos="fade-up"data-aos-duration="3000" data-aos-delay="600">
          <h1 class="Newsreader">"An intuitive solution to a common problem that we all face, wrapped up in a single app!"</h1> <h2>HIMK</h2>
      </div>
  </section>
  
  <!--Features section -->
  <section class="features" id="features">
      <div class="container">
          <div class="row">
              <div class="col col-lg-6" data-aos="fade-right"data-aos-duration="2000" >
                  <img class="phoneImage2" src="../assets/images/portrate.png" alt="">
              </div>
              <div class="col col-lg-6"  data-aos="fade-up" data-aos-duration="2000" data-aos-delay="1000">
                  <div class="row">
                    <!-- Feature item-->
                      <div class="col col-lg-6 spacing">
                          <div class="text-center">
                             <img src="../../../assets/images/smartphone.png" alt="mobile" class="featureSize">
                              <h3 class="font-alt">Device Mockups</h3>
                              <p class="text-muted mb-0">Ready to use HTML/CSS device mockups, no Photoshop required!</p>
                          </div>
                      </div>
                      <div class="col col-lg-6 spacing">
                        <!-- Feature item-->
                      <div class="text-center">
                        <img src="../../../assets/images/camera.png" alt="mobile" class="featureSize">
                          <h3 class="font-alt">Flexible Use</h3>
                          <p class="text-muted mb-0">Put an image, video, animation, or anything else in the screen!</p>
                      </div>
                  </div>
                      <div class="col col-lg-6 spacing">
                          <!-- Feature item-->
                          <div class="text-center">
                            <img src="../../../assets/images/gift-box.png" alt="mobile" class="featureSize">
                              <h3 class="font-alt">Free to Use</h3>
                              <p class="text-muted mb-0">As always, this theme is free to download and use for any purpose!</p>
                          </div>
                      </div>
                      <div class="col col-lg-6 spacing">
                           <!-- Feature item-->
                           <div class="text-center">
                            <img src="../../../assets/images/certified.png" alt="mobile" class="featureSize">
                              <h3 class="font-alt">Open Source</h3>
                              <p class="text-muted mb-0">Since this theme is MIT licensed, you can use it commercially!</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
   <!--Feedback form section -->
   <section class="feedBack mt-5" id="feedBack">
       <div class="container w-50">
           <h2 class="txtfeed">Send feedback</h2>
        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
            <!-- Name input-->
            <div class="form-floating mb-3">
                <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                <label for="name">Full name</label>
                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
            </div>
            <!-- Email address input-->
            <div class="form-floating mb-3">
                <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                <label for="email">Email address</label>
                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
            </div>
            <!-- Phone number input-->
            <div class="form-floating mb-3">
                <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                <label for="phone">Phone number</label>
                <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
            </div>
            <!-- Message input-->
            <div class="form-floating mb-3">
                <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                <label for="message">Message</label>
                <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
            </div>
            <!-- Submit success message-->
            <!---->
            <!-- This is what your users will see when the form-->
            <!-- has successfully submitted-->
            <div class="d-none" id="submitSuccessMessage">
                <div class="text-center mb-3">
                    <div class="fw-bolder">Form submission successful!</div>
                    To activate this form, sign up at
                    <br />
                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                </div>
            </div>
            <!-- Submit error message-->
            <!---->
            <!-- This is what your users will see when there is-->
            <!-- an error submitting the form-->
            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
            <!-- Submit Button-->
            <div class="d-grid w-50 mx-auto"><button class="btn feedbg1 rounded-pill btn-lg" id="submitButton" type="submit">Submit</button></div>
        </form>
       </div>
   </section>

   <!--Footer section -->
   <section class="footer">
           <!-- Remove the container if you want to extend the Footer to full width. -->
    <footer class="text-center text-lg-start">
      <div class="container d-flex justify-content-center py-5">
        <button type="button" class="btn iconbut btn-lg btn-floating mx-2">
          <i class="fab fa-facebook-f"></i>
        </button>
        <button type="button" class="btn iconbut btn-lg btn-floating mx-2">
          <i class="fab fa-youtube"></i>
        </button>
        <button type="button" class="btn iconbut btn-lg btn-floating mx-2">
          <i class="fab fa-instagram"></i>
        </button>
        <button type="button" class="btn iconbut btn-lg btn-floating mx-2">
          <i class="fab fa-twitter"></i>
        </button>
      </div>
      <!-- Copyright -->
      <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white"  href="mailto:hassantariq1141998@gmail.com">HIMK</a>
      </div>
      <!-- Copyright -->
    </footer>
  <!-- End of .container -->
   </section>
